<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unibs.cloudondemand">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main activities -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="it.unibs.cloudondemand.MainActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".IntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="*/*"
                    android:scheme="file" />
            </intent-filter>
        </activity>


        <!-- Utils activities -->
        <activity
            android:name=".utils.PermissionRequest"
            android:theme="@style/Theme.TransparentTheme" />

        <!-- Google activities and services -->
        <activity
            android:name=".google.GoogleSignIn"
            android:theme="@style/Theme.TransparentTheme" />
        <activity android:name=".google.GoogleDriveDownloadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
      
        <service android:name=".google.GoogleDriveUploadString" />
        <service android:name=".google.GoogleDriveUploadFileSingle" />
        <service android:name=".google.GoogleDriveUploadFileFolder" />
        <service android:name=".google.GoogleDriveDownloadFileSingle"/>
        <service android:name=".google.StopServices" />

        <!-- Oauth activities -->
        <activity android:name=".fitbit.FitbitAuth" />
        <activity android:name=".fitbit.FitbitTokenGetter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fitbitoauth2callback"
                    android:scheme="it.unibs.cloudondemand" />
            </intent-filter>
        </activity>

        <!-- Dropbox activities -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <data android:scheme="db-k4r9giw251cnll0" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".dropbox.DropboxMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="it.unibs.cloudondemand.dropbox.DropboxLoginActivity"
            android:label="@string/title_activity_login">
        </activity>

    </application>

</manifest>